includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 6
    bootstrapFiles:
        - build/phpstan/stubs/bootstrap-functions.php
    paths:
        - src/
        - tests/
        - uniter/bootstraps/
        - uniter/env/composer/get_autoload_files.php
    tmpDir: var/phpstan/
